---
import type { ImageMetadata } from 'astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Analytics from '../components/Analytics.astro';
import { formatPageTitle, getSite } from '../utils/consts';

interface Props {
	title?: string;
	description?: string;
	image?: ImageMetadata;
	hideNavigation?: boolean;
	hideHeader?: boolean;
	forceTheme?: 'light' | 'dark';
	bodyClass?: string;
}

const site = await getSite();
const { title, description, image, hideNavigation = false, hideHeader = false, forceTheme, bodyClass } = Astro.props;
const pageTitle = formatPageTitle(title, site);
---

<!doctype html>
<html lang="en" data-theme={forceTheme}>
    <head>
        <BaseHead title={pageTitle} description={description} image={image} />
        <Analytics />
    </head>
    <body class={bodyClass}>
        {!hideHeader && <Header hideNavigation={hideNavigation} />}
        <main class="content-shell">
            <slot />
        </main>
        <Footer />
    </body>
</html>
